*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    color: var(--negro);
}

a {
    color: var(--blanco);
}

.titulo {
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;

    @media screen and (min-width: 320px) {
        font-size: 45px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    @media screen and (min-width: 500px) {
        font-size: 55px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    @media screen and (min-width: 768px) {
        font-size: 65px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 80px;
    }
    @media screen and (min-width: 992px) {
        font-size: 75px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 80px;
    }
}

.titulo__h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.titulo__h2--sm {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;

    @media screen and (min-width: 992px) {
        font-size: 50px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 55px;
    }
}

.titulo__h2--sml {
    @media screen and (min-width: 992px) {
        font-size: 35px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 40px;
    }
}

.titulo__h3 {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
}