@import "globales";
@import "variables";
@import "encabezado";
@import "slider";
@import "map-contacto";
@import "footer";
@import "servicios";
@import "galeria";

/*INICIO QUIENES SOMOS*/

.fondo__qs {
    background-image: var(--blanco);
}

.titulo--blanco {
    color: var(--blanco);
    margin-bottom: 20px;
}

.quienes-somos {
    border-radius: 30px;
    background-color: var(--negro);
}

.quienes-somos > p {
    font-size: 20px;
    line-height: 60px;
    color: var(--blanco);
}

@media screen and (min-width: 1200px) {
    .fondo__qs {
        background-image: url(../img/fondos/fondo4.jpg);
    }
    .quienes-somos {
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.8)
    }
    .quienes-somos > p {
        font-size: 30px;
    }
    .titulo--blanco {
        font-size: 100px;
    }
}
/*FIN QUIENES SOMOS*/


/*INICIO CONTACTO*/

.titulo--contacto {
    display: none;
}

.contacto__input {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--negro);
}

.boton {
    width: 80%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}
.boton:hover {
    background: #fff;
    color: #212529
}

.datos__info > ul > li {
    font-size: 16px;
}

@media screen and (min-width: 992px) {
    .datos__contacto--form {
        margin-top: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .titulo--contacto {
        display: block;
    }
    .form__contacto > ul > li {
        margin-bottom: 50px;
    }
    .datos__img {
        height: 700px;
    }
}


.bounce-top--contacto {
	-webkit-animation: bounce-top--contacto 2s both;
	        animation: bounce-top--contacto 2s both;
}
@-webkit-keyframes bounce-top--contacto {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top--contacto {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
/*FIN CONTACTO*/